@import '../../../../styles/variables.scss';

.section-aba {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-aba img {
  vertical-align: middle;
  height: 5rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  border-radius: 28px;
}

.section-aba h1 {
    margin-top: 20px;
    font-size: 2rem;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: $branco-fumaca;
}
