.divSearch {
  margin: 15px;
  .icon-search {
    width: 25px;
    margin: 15px;
    float: left;
  }
  .inputSearch {
    margin: 15px;
    width: 600px;
  }
  .buttomNewMap {
    margin: 15px;
    float: right;
    right: 0;
  }
}

.divTable {
  margin: 15px;
  padding-bottom: 10px;
  thead tr .thSort {
    cursor: pointer;
  }
}
.tableValues td {
  vertical-align: middle;
  button {
    height: 25px;
    font-size: 13px;
    vertical-align: center;
    padding: 2px 10px 2px 10px;
    margin: 5px;
  }
}
