<app-header />
<div class="container">
  <div class="title">
    <h1>Zabbix mapping to Ligero</h1>
  </div>
  <div class="subtitle">
    <a>
      Mapeando eventos de um mesmo host no Zabbix para abrir ticket com
      diferentes caracteristicas
    </a>
  </div>
  <div class="links">
    <table>
      <tr>
        <a href="veeam" class="entry">
          <td>
            <img src="assets/veeam_logo_800x800.png" />
            <a>Veeam</a>
          </td>
        </a>
      </tr>
      <tr>
        <a href="fortigate" class="entry">
          <td>
            <img src="assets/fortigate_logo_1537x1101.png" />
            <a>FortiGate</a>
          </td>
        </a>
      </tr>
      <tr>
        <a href="vmware" class="entry">
          <td>
            <img src="assets/vmware_vsphere_logo_800x800.png" />
            <a>VMware</a>
          </td>
        </a>
      </tr>
    </table>
  </div>
</div>
<app-footer />
