@import '../../../../styles/variables.scss';

.header {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  background: $azul-escuro;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-family: "Rubik", sans-serif;

  .logo_img {
    width: 45px;
    height: 45px;
    margin: 15px 0px 15px 15px;
  }

  &__right-container {
    display: flex;
    align-items: center;
    vertical-align: center;
  }
}

.logo {
  text-decoration: none;
}

.logo h1 {
  color: $branco;
  margin: 15px;
  text-decoration: none;
}

.nav a {
  color: $branco;
  margin: 15px;
  align-self: right;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav a.active {
  color: $turquesa-escuro; 
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
}

.nav a:hover {
  color: $turquesa-escuro;
  cursor: pointer;
  text-decoration: none;
}