<header class="header">
    <div class="header__right-container">
        <img src="../../../../assets/logo_sercompe.png" alt="Sercompe Logo" class="logo_img">
        <a class="logo" routerLink="/">
            <h1>ZmapL</h1>
        </a>
    </div>
    <div class="nav">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">INÍCIO</a>
        <a routerLink="/veeam" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">VEEAM</a>
        <a routerLink="/fortigate" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">FORTIGATE</a>
        <a routerLink="/vmware" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">VMWARE</a>
    </div>
</header>
