//* Cores principais

$turquesa-medio: #56BBDA;
$turquesa-escuro: #0EE7C5;
$azul-escuro: #002461;
$azul-medio: #1a3a72;
$cinza-escuro: #A9A9A9;
$cinza-claro: #CCD3DE;
$branco: #fff;
$branco-fumaca: #F5F5F5;
